# Виртуальное окружение
.venv/
venv/
ENV/

# База данных SQLite
db.sqlite3
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Переменные окружения
.env
.env.local
.env.*.local

# Coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Миграции (раскомментируйте если не хотите их коммитить)
# */migrations/*.py
# !*/migrations/__init__.py

# Jupyter Notebook
.ipynb_checkpoints

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/